.t3-megamenu .mega-inner {
  padding: 10px 0;
}
.t3-megamenu .col-lg-12 .mega-inner,
.t3-megamenu .col-md-12 .mega-inner,
.t3-megamenu .col-sm-12 .mega-inner,
.t3-megamenu .col-xs-12 .mega-inner {
  padding: 0;
}
.t3-megamenu .row {
  margin-left: auto;
  margin-right: auto;
}
.t3-megamenu .row + .row {
  padding-top: 12px;
  border-top: 1px solid #e5e5e5;
}
.t3-megamenu .mega-dropdown-menu {
  padding: 0;
  margin-left: -1px !important;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
  position: absolute;
}
html[dir=rtl] .t3-megamenu .mega-dropdown-menu {
  margin-left: 0px !important;
  -webkit-box-shadow: -4px 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 0 0 4px rgba(0, 0, 0, 0.1);
}
.t3-megamenu .dropdown-header,
.t3-megamenu .mega-nav .mega-group > .dropdown-header,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header {
  margin: 0;
  padding: 0;
  background: #cc0000;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
}
.t3-megamenu .dropdown-header:hover,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-header:active,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-header:focus,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:focus,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:focus,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:focus {
  background: inherit;
  color: inherit;
}
.t3-megamenu .mega-group-ct .row {
  margin-left: -20px;
  margin-right: -20px;
}
.t3-megamenu .mega-col-nav {
  padding: 0;
}
.t3-megamenu .mega-nav > li,
.t3-megamenu .dropdown-menu .mega-nav > li {
  border-bottom: 1px solid #e5e5e5;
}
.t3-megamenu .mega-nav > li a,
.t3-megamenu .dropdown-menu .mega-nav > li a {
  color: #333333;
  padding: 12px 24px;
}
.t3-megamenu .mega-nav > li.active > a,
.t3-megamenu .dropdown-menu .mega-nav > li.active > a {
  color: #cc0000;
}
.t3-megamenu .dropdown-menu .mega-group .mega-nav > li.active > a {
  color: #333333;
}
.t3-megamenu .mega-nav .dropdown-submenu > a::after {
  margin-right: 0;
}
.t3-megamenu .mega-col-module {
  height: 100%;
}
.t3-megamenu .mega-col-module .mega-inner {
  height: 100%;
}
.t3-megamenu .mega-col-module .mega-inner ul li {
  list-style-type: none;
}
.t3-megamenu .t3-module {
  margin-bottom: 0;
}
.t3-megamenu .t3-module .module-title,
.t3-megamenu .t3-module .module-title:hover {
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  margin: 0 0 12px;
  background: #111111;
  color: #fff;
  letter-spacing: 1px;
}
.t3-megamenu .t3-module ul li,
.t3-megamenu .t3-module .nav li {
  list-style: disc;
  display: list-item;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.t3-megamenu .mega-caption {
  color: #999999;
  color: rgba(155, 155, 155, 0.5);
  font-size: 12px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 3px;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
}
.t3-megamenu .nav .caret,
.t3-megamenu .dropdown-submenu .caret,
.t3-megamenu .mega-menu .caret {
  display: none;
}
.t3-megamenu .nav > .dropdown > .dropdown-toggle .caret {
  position: absolute;
  right: -4px;
  bottom: -1px;
  border-top-color: #e5e5e5;
  border-bottom-color: #e5e5e5;
}
.t3-megamenu .nav .input-group-addon [class^="icon-"],
.t3-megamenu .nav .input-group-addon [class*=" icon-"],
.t3-megamenu .nav .input-group-addon .fa {
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .t3-megamenu .mega-dropdown-inner .mega-left,
  .t3-megamenu .mega-dropdown-inner .mega-right {
    display: table-cell !important;
    vertical-align: top !important;
    float: none !important;
  }
}
.t3-megamenu .mega-left {
  border-right: 1px solid #e5e5e5;
  background: #f2f2f2;
  padding: 24px 12px;
}
.t3-megamenu .mega-right {
  background: #f2f2f2;
  padding: 24px 12px;
}
.t3-megamenu .cat-red {
  border-color: #cc0000 !important;
  background-color: #ffffff;
}
.t3-megamenu .cat-red .module-title,
.t3-megamenu .cat-red .module-title:hover {
  background: #cc0000;
  color: #fff;
}
.t3-megamenu .cat-red .item-list .item .item-inner .item-title a:hover,
.t3-megamenu .cat-red .item-list .item .item-inner .item-title a:active,
.t3-megamenu .cat-red .item-list .item .item-inner .item-title a:focus {
  color: #cc0000;
}
.t3-megamenu .cat-red .article-title h3 a:hover,
.t3-megamenu .cat-red .article-title h3 a:focus,
.t3-megamenu .cat-red .article-title h3 a:active {
  color: #cc0000;
}
.t3-megamenu .cat-blue {
  border-color: #0077bb !important;
  background-color: #ffffff;
}
.t3-megamenu .cat-blue .module-title,
.t3-megamenu .cat-blue .module-title:hover {
  background: #0077bb;
  color: #fff;
}
.t3-megamenu .cat-blue .item-list .item .item-inner .item-title a:hover,
.t3-megamenu .cat-blue .item-list .item .item-inner .item-title a:active,
.t3-megamenu .cat-blue .item-list .item .item-inner .item-title a:focus {
  color: #0077bb;
}
.t3-megamenu .cat-blue .article-title h3 a:hover,
.t3-megamenu .cat-blue .article-title h3 a:focus,
.t3-megamenu .cat-blue .article-title h3 a:active {
  color: #0077bb;
}
.t3-megamenu .cat-green {
  border-color: #669900 !important;
  background-color: #ffffff;
}
.t3-megamenu .cat-green .module-title,
.t3-megamenu .cat-green .module-title:hover {
  background: #669900;
  color: #fff;
}
.t3-megamenu .cat-green .item-list .item .item-inner .item-title a:hover,
.t3-megamenu .cat-green .item-list .item .item-inner .item-title a:active,
.t3-megamenu .cat-green .item-list .item .item-inner .item-title a:focus {
  color: #669900;
}
.t3-megamenu .cat-green .article-title h3 a:hover,
.t3-megamenu .cat-green .article-title h3 a:focus,
.t3-megamenu .cat-green .article-title h3 a:active {
  color: #669900;
}
.t3-megamenu .cat-cyan {
  border-color: #0099cc !important;
  background-color: #ffffff;
}
.t3-megamenu .cat-cyan .module-title,
.t3-megamenu .cat-cyan .module-title:hover {
  background: #0099cc;
  color: #fff;
}
.t3-megamenu .cat-cyan .item-list .item .item-inner .item-title a:hover,
.t3-megamenu .cat-cyan .item-list .item .item-inner .item-title a:active,
.t3-megamenu .cat-cyan .item-list .item .item-inner .item-title a:focus {
  color: #0099cc;
}
.t3-megamenu .cat-cyan .article-title h3 a:hover,
.t3-megamenu .cat-cyan .article-title h3 a:focus,
.t3-megamenu .cat-cyan .article-title h3 a:active {
  color: #0099cc;
}
.t3-megamenu .cat-orange {
  border-color: #ff8800 !important;
  background-color: #ffffff;
}
.t3-megamenu .cat-orange .module-title,
.t3-megamenu .cat-orange .module-title:hover {
  background: #ff8800;
  color: #fff;
}
.t3-megamenu .cat-orange .item-list .item .item-inner .item-title a:hover,
.t3-megamenu .cat-orange .item-list .item .item-inner .item-title a:active,
.t3-megamenu .cat-orange .item-list .item .item-inner .item-title a:focus {
  color: #ff8800;
}
.t3-megamenu .cat-orange .article-title h3 a:hover,
.t3-megamenu .cat-orange .article-title h3 a:focus,
.t3-megamenu .cat-orange .article-title h3 a:active {
  color: #ff8800;
}
.t3-megamenu .cat-violet {
  border-color: #bf5fff !important;
  background-color: #ffffff;
}
.t3-megamenu .cat-violet .module-title,
.t3-megamenu .cat-violet .module-title:hover {
  background: #bf5fff;
  color: #fff;
}
.t3-megamenu .cat-violet .item-list .item .item-inner .item-title a:hover,
.t3-megamenu .cat-violet .item-list .item .item-inner .item-title a:active,
.t3-megamenu .cat-violet .item-list .item .item-inner .item-title a:focus {
  color: #bf5fff;
}
.t3-megamenu .cat-violet .article-title h3 a:hover,
.t3-megamenu .cat-violet .article-title h3 a:focus,
.t3-megamenu .cat-violet .article-title h3 a:active {
  color: #bf5fff;
}