.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  z-index: 1;
}
.carousel-fade .carousel-inner .item.active {
  z-index: 10;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  right: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}