.videos-item-media .video-mask {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  -webkit-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}
.videos-item-media .btn-play {
  display: block;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
  width: 48px;
  font-size: 49px;
  color: #ffffff;
  text-indent: center;
  line-height: 32px;
  z-index: 10;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.videos-item-media .btn-play:hover,
.videos-item-media .btn-play:focus,
.videos-item-media .btn-play:active {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}
.videos-item-media:hover .btn-play {
  opacity: 1;
  filter: alpha(opacity=100);
}
.videos-item-media .item-image {
  max-height: 192px;
}
.videos-item-media .item-image.video-playing .video-mask:before {
  background: #cc0000;
  content: "Playing...";
  color: #ffffff;
  display: block;
  font-size: 10px;
  line-height: 1;
  padding: 3px 5px;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.videos-item-main .article-title {
  color: #666666;
}
.videos-item-main .article-title h3 {
  font-family: sans-serif;
  font-size: 14px;
}
.videos-item-main .article-title h3 a:hover,
.videos-item-main .article-title h3 a:focus,
.videos-item-main .article-title h3 a:active {
  color: #ffffff;
}

.magazine-featured + .videos-featured {
  margin-top: -4px;
}
.videos-featured .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  
  padding-top: 25px;
  height: 0;
}
.videos-featured .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videos-featured .videos-featured {
  padding: 0;
  border-bottom: 4px solid #111111;
  position: relative;
}
.videos-featured .videos-featured > .col {
  padding: 0;
}
.videos-featured .videos-featured-items {
  background: #000000;
  position: relative;
}
.videos-featured .videos-featured-items:before,
.videos-featured .videos-featured-items:after {
  content: " ";
  display: table;
}
.videos-featured .videos-featured-items:after {
  clear: both;
}
.videos-featured .videos-featured-items .videos-section-heading {
  background: #121212;
  border: 1px solid #222222;
  color: #fff;
  position: relative;
  top: auto;
  left: auto;
  z-index: 2;
}
@media screen and (min-width: 991px) {
  .videos-featured .videos-featured-items .videos-section-heading {
    position: absolute;
    right: 0;
  }
}
.videos-featured .videos-featured-items .videos-section-heading h4 {
  color: #fff;
  font-weight: 400;
  margin: 0;
}
.videos-featured .videos-featured-items .videos-section-heading a {
  border: 2px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  float: right;
  line-height: 1;
  margin-top: 4px;
  padding: 3px 4px;
  text-align: right;
  width: 26px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.videos-featured .videos-featured-items .videos-section-heading a:hover,
.videos-featured .videos-featured-items .videos-section-heading a:focus,
.videos-featured .videos-featured-items .videos-section-heading a:active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.videos-featured .player-wrap {
  padding: 1px 0 0 1px;
}
.videos-featured .player-wrap #ja-main-player {
  height: 488px;
  position: relative;
}
@media (max-width: 1199px) {
  .videos-featured .player-wrap #ja-main-player {
    padding-bottom: 56.25%;
    height: 0;
  }
}
.videos-featured .player-wrap #ja-main-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}
.videos-featured .videos-featured-list {
  background: #151515;
  border-right: 1px solid #222222;
  border-left: 1px solid #222222;
  padding: 56px 0 0;
  overflow: hidden;
}
@media (max-width: 992px) {
  .videos-featured .videos-featured-list {
    padding: 0;
  }
}
.videos-featured .videos-featured-list ul {
  display: block;
  height: 432px;
  list-style: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  position: relative;
}
@media (max-width: 1199px) {
  .videos-featured .videos-featured-list ul {
    height: 312px;
  }
}
.videos-featured .videos-featured-list ul .video-item {
  border-bottom: 1px dotted #222222;
  padding: 24px;
}
.videos-featured .videos-featured-list ul .video-item:before,
.videos-featured .videos-featured-list ul .video-item:after {
  content: " ";
  display: table;
}
.videos-featured .videos-featured-list ul .video-item:after {
  clear: both;
}
.videos-featured .videos-featured-list ul .video-item:hover {
  background-color: #181818;
}
.videos-featured .videos-item-media {
  float: left;
  margin-right: 24px;
  position: relative;
  width: 96px;
}
.videos-featured .videos-item-media .item-image {
  max-height: 60px;
}
.videos-featured .videos-item-media .item-image img {
  width: 100%;
}
.videos-featured .videos-item-media .btn-play {
  display: block;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -17px 0 0 -17px;
  width: 24px;
  font-size: 35px;
  color: #ffffff;
  text-indent: center;
  line-height: 32px;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.videos-featured .videos-item-media .btn-play:hover,
.videos-featured .videos-item-media .btn-play:focus,
.videos-featured .videos-item-media .btn-play:active {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}
.videos-featured .videos-item-media .video-playing .video-mask:before {
  background: #cc0000;
  content: "Playing...";
  color: #ffffff;
  display: block;
  font-size: 10px;
  line-height: 1;
  padding: 3px 5px 2px;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.videos-featured .videos-item-main .article-title {
  margin: 0;
}
.videos-featured .videos-item-main h3 {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}
.videos-featured .videos-item-main h3 a {
  color: #666666;
}
.videos-featured .videos-item-main h3 a:hover,
.videos-featured .videos-item-main h3 a:focus,
.videos-featured .videos-item-main h3 a:active {
  color: #ffffff;
}
.videos-featured .videos-item-main .videos-item-ct {
  display: none;
}
.videos-list .magazine-categories {
  padding: 0;
}
.videos-list .magazine-categories .videos-section-heading {
  background: #121212;
  border: 1px solid #222222;
  color: #ffffff;
}
.videos-list .row-articles {
  border-color: #222222;
}
.videos-list .row-articles .videos-item {
  border-color: #222222;
  padding: 24px;
  position: relative;
  border-right: 1px dotted;
}
.video-sidebar .videos-list .videos-item-media .item-image {
  margin-bottom: 0;
}
.videos-list .load-more {
  border: 1px solid #222222;
  padding: 0;
}
.videos-list .load-more .btn {
  background: transparent;
  border: 0;
  color: #999999;
  padding: 12px 0;
  text-align: center;
  outline: none;
  width: 100%;
  -webkit-transition: background 0.35;
  -o-transition: background 0.35;
  transition: background 0.35;
}
.videos-list .load-more .btn:hover {
  background: #222222;
  color: #ffffff;
}
.videos-list .load-more .btn:disabled {
  color: #333333;
}
.ie8 .videos-list .row-articles .videos-item {
  zoom: 1;
  width: 25%;
}
.videos-grid .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  
  padding-top: 25px;
  height: 0;
}
.videos-grid .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videos-grid .videos-grid {
  padding: 0;
  border-bottom: 4px solid #111111;
  position: relative;
}
.videos-grid .videos-grid > .col {
  padding: 0;
}
.videos-grid .videos-grid-items {
  background: #000000;
  positon: relative;
  overflow: hidden;
}
.videos-grid .videos-grid-items .videos-section-heading {
  background: #121212;
  border: 1px solid #222222;
  color: #fff;
  position: absolute;
  right: 0;
  z-index: 2;
}
.videos-grid .videos-grid-items .videos-section-heading h4 {
  color: #fff;
  font-weight: 400;
  margin: 0;
}
.videos-grid .player-wrap {
  padding: 1px 0 0 1px;
}
.videos-grid .player-wrap #ja-main-player {
  height: 336px;
}
.videos-grid .videos-featured-grid {
  background: #151515;
  border-right: 1px solid #222222;
  border-left: 1px solid #222222;
  padding: 0;
  overflow: hidden;
}
.videos-grid .videos-featured-grid ul {
  display: block;
  list-style: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  position: relative;
}
.videos-grid .videos-featured-grid ul .video-item {
  padding: 0;
  height: 168px;
}
.videos-grid .videos-featured-grid ul .video-item:before,
.videos-grid .videos-featured-grid ul .video-item:after {
  content: " ";
  display: table;
}
.videos-grid .videos-featured-grid ul .video-item:after {
  clear: both;
}
.videos-grid .videos-featured-grid ul .video-item:hover {
  background-color: #181818;
}
.videos-grid .videos-item-media {
  position: relative;
  height: 100%;
}
.videos-grid .videos-item-media .item-image {
  height: 100%;
}
.videos-grid .videos-item-media .item-image img {
  width: 100%;
  height: 100%;
}
.videos-grid .videos-item-media .btn-play {
  display: block;
  height: 24px;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  font-size: 35px;
  color: #ffffff;
  text-indent: center;
  line-height: 32px;
  z-index: 2;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.videos-grid .videos-item-media .btn-play:hover,
.videos-grid .videos-item-media .btn-play:focus,
.videos-grid .videos-item-media .btn-play:active {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}
.videos-grid .videos-item-media .video-mask {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background-repeat: repeat-x;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-transition: background 0.35s ease 0s;
  -o-transition: background 0.35s ease 0s;
  transition: background 0.35s ease 0s;
}
.videos-grid .videos-item-media .video-playing .video-mask:before {
  background: #cc0000;
  content: "Playing...";
  color: #ffffff;
  display: block;
  font-size: 10px;
  line-height: 1;
  padding: 3px 5px 2px;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.videos-grid .videos-item-main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 24px 24px;
}
.videos-grid .videos-item-main .article-title {
  margin: 0;
}
.videos-grid .videos-item-main h3 {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
}
.videos-grid .videos-item-main h3 a {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.videos-grid .videos-item-main h3 a:hover,
.videos-grid .videos-item-main h3 a:focus,
.videos-grid .videos-item-main h3 a:active {
  color: #ffffff;
}
.videos-grid .videos-item-main .videos-item-ct {
  display: none;
}
.video-links .video-item {
  border-top: 1px solid #222222;
  margin-top: 24px;
  padding-top: 24px;
}
.video-links .video-item:before,
.video-links .video-item:after {
  content: " ";
  display: table;
}
.video-links .video-item:after {
  clear: both;
}
@media (min-width: 480px) {
  .video-links .video-item:first-child {
    border: 0;
    padding-top: 0;
  }
}
@media (min-width: 480px) {
  .video-links .videos-item-media {
    float: left;
    margin-right: 24px;
    width: 33.3%;
  }
}
.video-links .videos-item-media .item-image {
  max-height: none;
  position: relative;
}
.video-links .videos-item-media .item-image img {
  width: 100%;
}
.video-links .videos-item-main .article-title {
  margin-bottom: 0;
}
.video-links .videos-item-main h3 {
  font-size: 16px;
  margin-bottom: 0;
}
@media (min-width: 480px) {
  .video-links .videos-item-main h3 {
    font-size: 14px;
    margin-top: 0;
  }
}
.video-links .videos-item-main a {
  color: #999999;
}
.video-links .videos-item-main .videos-item-ct {
  padding: 12px 0;
}